@font-face {
  font-family: 'Termina Bold';
  src: url('../assets/fonts/Termina-Bold.woff2') format('woff2'),
      url('../assets/fonts/Termina-Bold.woff') format('woff'),
      url('../assets/fonts/Termina-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Termina Light';
  src: url('../assets/fonts/Termina-ExtraLight.woff2') format('woff2'),
      url('../assets/fonts/Termina-ExtraLight.woff') format('woff'),
      url('../assets/fonts/Termina-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Termina';
  src: url('../assets/fonts/Termina-Regular.woff2') format('woff2'),
      url('../assets/fonts/Termina-Regular.woff') format('woff'),
      url('../assets/fonts/Termina-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Termina Medium';
  src: url('../assets/fonts/Termina-Medium.woff2') format('woff2'),
      url('../assets/fonts/Termina-Medium.woff') format('woff'),
      url('../assets/fonts/Termina-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
