@media (min-width: 1200px) {
  .offcanvas-backdrop {
    display: none;
  }

  aside.offcanvas {
    background-color: transparent !important;
    & ~ main {
      margin-left: $sidebar-width;
    }
  }
}

@media (min-width: 1400px) {
  .container-xxl {
    max-width: 1900px !important;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 22px !important;
    line-height: 1.5 !important;
  }

  p,
  h3,
  h4 {
    font-size: 12px;
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }

  .satellite-card {
    width: 100% !important;
  }

  .charts-grid {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)) !important;
    & > div {
      padding: 20px 10px !important;
      height: auto !important;
      margin: 0 auto;
      max-width: 100%;
    }
  }

  .form-control,
  .form-select {
    padding: 8px 15px;
  }

  // Satellites data
  .satellite-card {
    .img-wrapper {
      height: 100px !important;
      width: 100px !important;
    }
  }
}

