@media (min-width: 1200px) {
  .offcanvas-backdrop {
    display: none;
  }

  aside.offcanvas {
   background-color: transparent !important;
   & ~ main {
      margin-left: $sidebar-width;
    }
  }
}

@media(min-width: 1400px) {
  .container-xxl {
    max-width: 1900px !important;
  }
}

@media(max-width: 767px) {
  .satellite-card {
    width: 100% !important;
  }

  p, h3, h4 {
    font-size: 12px;
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }
}
